/* Global 프로그래밍하면서 변수 지정하듯이*/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-purple: #9f57b1;
  --color-dark-puple: #864d7d;
  --color-dark-gray: #616161;
  --color-light-gray: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* font-size */

  --font-large: 3rem;
  --font-middle: 1.75rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* Universal tags --공통적으로 적용해야할 것*/
  * {
    box-sizing: border-box;
    /*높이와 너비가 패딩을 포함해서 하도록*/
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-middle);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-purple);
  align-items: center;
  color: var(--color-white);
  padding: 1rem;
}
.navbar__menu {
  display: flex;
}
.navbar__logo {
  font-size: var(--font-middle);
  font-weight: var(--weight-semi-bold);
}
.navbar_menu_list {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar_menu_list.active {
  border: 1px solid var(--color-white);
}
.navbar_menu_list:hover {
  background-color: var(--color-dark-puple);
}
