/* Global 프로그래밍하면서 변수 지정하듯이*/
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #c9c9c9;
  --color-gray: #616161;
  --color-dark-puple: #864d7d;
  --color-dark-gray: #444444;
  --color-light-gray: #7c7979;
  --color-blue: #5a7383;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* font-size */

  --font-large: 3rem;
  --font-middle: 1.75rem;
  --font-regular: 1.125rem;
  --font-small: 0.99rem;
  --font-micro: 0.875rem;

  /* font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-border-radius: 4px;

  /* Animation duration */
  --animation-duration: 300ms;
}

/* Universal tags --공통적으로 적용해야할 것*/
* {
  box-sizing: border-box;
  /*높이와 너비가 패딩을 포함해서 하도록*/
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style-type: none;
  padding-left: 0;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}
/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-middle);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-white);
  padding: 1rem;
}
.navbar__menu {
  display: flex;
}
.navbar__logo {
  font-size: var(--font-middle);
  font-weight: var(--weight-semi-bold);
}
.navbar_menu_list {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar_menu_list.active {
  border: 1px solid var(--color-white);
}
.navbar_menu_list:hover {
  background-color: var(--color-light-gray);
}
/* Home */
#home {
  background: url("images/수정본.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}
.home__avatar {
  width: 17.5rem;
  height: 17.5rem;
  border-radius: 50%;
  border: 2px solid var(--color-dark-white);
}
.home_title,
.home_description {
  color: var(--color-white);
}
.home_contect {
  font-size: var(--font-regular);
  color: var(--color-white);
  font-weight: var(--weight-semi-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* Section commom */
.section {
  padding: 3.125rem;
  text-align: center;

  margin: auto;
}
.section__container {
  max-width: 75rem;
  margin: auto;
}
/* About */
.about__major {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
.major_icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin: auto;
  margin-bottom: 16px;
  color: var(--color-blue);
}
.major_title,
.major_description {
  color: var(--color-dark-gray);
}
.major_description {
  font-size: var(--font-small);
}
.major_icon i {
  transition: all 300ms ease;
  /* 250~350ms 적당 1s는 답답 */
}
.major_icon i:hover {
  color: var(--color-dark-puple);
  transform: scale(1.2);
}
.job {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-gray);
  margin-left: 20px;
}
.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-blue);
}
.skill {
  margin-bottom: 32px;
}
.skillset {
  display: flex;
  background-color: var(--color-light-gray);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-dark-white);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-gray);
  padding: 20px 40px;
}
.skillset__right {
  flex-basis: 40%;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: grey;
}
.skill__value {
  width: 70%;
  height: 3px;
  background-color: lavender;
}
.tools {
  background-color: var(--color-gray);
}
.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-dark-white);
  color: var(--color-white);
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
.category__count {
  background-color: var(--color-blue);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  color: var(--color-white);
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all 300ms ease-in;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  width: 17.5rem;
  height: 15.6rem;
  margin: 2px;
  background: var(--color-dark-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--size-border-radius);
}
.project__img {
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-dark-gray);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  transform: translateY(10px);
}
.project__description:hover {
  opacity: 0.8;
  transform: translateY(0);
}
.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background: var(--color-dark-white);
}

/* Tectimonial */
#testimonials {
  background: var(--color-light-white);
}
.testimonials {
  margin: 40px;
}
.testimonial {
  display: flex;
  margin: 32px 0;
}
.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}
.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  background-color: var(--color-white);
  padding: 18px;
  border-radius: var(--size-border-radius);
}
.testimonial__speech-bubble p {
  color: var(--color-dark-gray);
}
.testimonial__speech-bubble a {
  color: var(--color-blue);
  font-weight: var(--weight-semi-bold);
}
